<section class="section-two" id="section-two">
  <div class="about-container">
    <div class="about-image">
      <img src="../../assets/2.png" alt="About Image">
    </div>
    <div class="about-content-card">
      <h2>About Me</h2>
      <p>Pursuing Bachelor's degree in Computer Science and have a strong foundation in
        software development principles. Eager to apply academic knowledge and hands-on
        project experience to contribute effectively to a dynamic development team. Adept
        at coding, debugging, and collaborating on projects from concept to completion.
        Quick learner with a commitment to staying current on emerging technologies.
        </p>
    </div>
  </div>
</section>
