/* Section Three styling */
.section-four {
  background-color: #0f1724; /* Background color #0f1724 */
  padding: 2rem;
}

.projects-heading {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.project-card {
  background: transparent;
  border: 2px solid; /* Border for gradient */
  border-image: linear-gradient(to bottom right, #875bc4, #1baac6) 1;
  border-radius: 10px;
  padding: 1rem;
  width: 300px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.project-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.project-title {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project-description {
  color: lightgrey;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.project-buttons {
  display: flex;
  gap: 1rem;
}

.live-preview-button {
  background: linear-gradient(to right, #875bc4, #1baac6); 
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.github-button {
  background: transparent;
  color: white;
  padding: 0.5rem 1rem;
  border: 2px solid white; 
  border-radius: 5px;
  text-decoration: none;
}
