<section class="section-four" id="section-four" >
  <h2 class="projects-heading">Projects</h2>
  <div class="cards-container">
    <div class="project-card">
      <img src="../../assets/projectcions/blog.png" alt="Project Image" class="project-image">
      <h3 class="project-title">Blog</h3>
      <p class="project-description">Blog is an Angular-based project that includes user login and registration features, along with a landing home page.</p>
      <div class="project-buttons">
        <a href="https://blog-writing-app-sigma.vercel.app" target="_blank" class="live-preview-button">Live Preview</a>
        <a href="https://github.com/Raj-srivastav01/blog-writing-app" target="_blank" class="github-button">Open on GitHub</a>
      </div>
    </div>
    <div class="project-card">
      <img src="../../assets/projectcions/pokedex.png"alt="Project Image" class="project-image">
      <h3 class="project-title">Pokedex</h3>
      <p class="project-description">
        The Pokedex project is a static HTML and CSS landing page that showcases various Pokémon, detailing their evolutions, types, and stats. </p>
      <div class="project-buttons">
        <a href="https://raj-srivastav01.github.io/Pokedex/" target="_blank" class="live-preview-button">Live Preview</a>
        <a href="https://github.com/Raj-srivastav01/Pokedex" target="_blank" class="github-button">Open on GitHub</a>
      </div>
    </div>
    <div class="project-card">
      <img src="../../assets/projectcions/todo.png" alt="Project Image" class="project-image">
      <h3 class="project-title">Todo-List</h3>
      <p class="project-description">The Todo-list project is built using HTML, CSS, and JS. It provides a simple, interactive interface for managing tasks, allowing users to add and manage their to-dos.</p>
      <div class="project-buttons">
        <a href="https://raj-srivastav01.github.io/Todo-list/" target="_blank" class="live-preview-button">Live Preview</a>
        <a href="https://github.com/Raj-srivastav01/Todo-list" target="_blank" class="github-button">Open on GitHub</a>
      </div>
    </div>
    <div class="project-card">
      <img src="../../assets/projectcions/quiz.png" alt="Project Image" class="project-image">
      <h3 class="project-title">Quiz</h3>
      <p class="project-description">
        The Quiz project is a responsive web-based application using HTML, CSS, and JavaScript, allowing users to answer multiple-choice questions and track their performance.</p>
      <div class="project-buttons">
        <a href="https://raj-srivastav01.github.io/quiz/" target="_blank" class="live-preview-button">Live Preview</a>
        <a href="https://github.com/Raj-srivastav01/quiz" target="_blank" class="github-button">Open on GitHub</a>
      </div>
    </div>

  </div>
</section>
