<section class="section-three">
  <h2 class="greeting-text">My Working Area</h2>
  <div class="card-container">
    <div class="card">
      <img src="../../assets/icons/angular-icon.png" alt="Icon 1">
      <p>AngularJs</p>
    </div>
    <div class="card">
      <img src="../../assets/icons/react-icon.png" alt="Icon 2">
      <p>ReactJs</p>
    </div>
    <div class="card">
      <img src="../../assets/icons/bootstrap-icon.png" alt="Icon 3">
      <p>Bootstrap</p>
    </div>
    <div class="card">
      <img src="../../assets/icons/mysql-icon.png" alt="Icon 3">
      <p>MySql</p>
    </div>
    <div class="card">
      <img src="../../assets/icons/python-icon.png" alt="Icon 3">
      <p>Python</p>
    </div>
    
  </div>
</section>
